.gradle
build/
run/
bin/
eclipse/
dist/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.classpath
.project
*.launch
.settings/
*.bak
